/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: white;
  background-color: white; }

.reveal {
  font-family: "Nunito Sans", "sans-serif";
  font-size: 40px;
  font-weight: normal;
  color: black; }

::selection {
  color: #fff;
  background: #FF5E99;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #FF5E99;
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: black;
  font-family: "Nunito Sans", "sans-serif";
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 70px; }

.reveal h2 {
  font-size: 70px; }

.reveal h3 {
  font-size: 70px; }

.reveal h4 {
  font-size: 70px; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #13DAEC;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #71e9f4;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #0d99a5; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #13DAEC;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #13DAEC; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #13DAEC; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: white; } }

.reveal p code {
  display: inline-block;
  border-radius: 7px; }

.reveal small code {
  vertical-align: baseline; }

.reveal .slides > section h1:first-child,
.reveal .slides > section h2:first-child,
.reveal .slides > section h3:first-child,
.reveal .slides > section h4:first-child {
  text-align: left;
  position: absolute;
  top: 20px; }

.reveal section img {
  margin: 0;
  background: none;
  border: 0;
  box-shadow: none;
  max-height: 500px; }

.reveal section {
  flex-direction: column;
  height: 100%;
  justify-content: center; }

.reveal .slides:after {
  content: url("data:image/svg+xml; base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJIZWFkZXJfZmYwYTBfX2xvZ28tc3ZnIiB2aWV3Qm94PSIwIDAgMTM4IDIzIj4KICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgPHBhdGggZmlsbD0iIzAwMCIgZD0iTTkyLjcwNi42N3YxNC4yMTZhMy4xNzQgMy4xNzQgMCAwMC44ODQgMi40NjNjLjU4My41MyAxLjU1OC44MTcgMi45NDcuODQybC4zMDctMS43NThhNi4xNjMgNi4xNjMgMCAwMS0uODg0LS4xNzUgMS4zOTEgMS4zOTEgMCAwMS0uNTg5LS4zMTIgMS4xMTMgMS4xMTMgMCAwMS0uMzA4LS41MyAzLjEwOSAzLjEwOSAwIDAxLS4wOTgtLjg1NFYuNjcxaC0yLjI2em0yMS4zMyAwdjE2Ljk2YTIzLjkgMjMuOSAwIDAwMS45NjQuNDA1Yy45Mi4xNDIgMS44NTEuMjA5IDIuNzgzLjJhNy41NzcgNy41NzcgMCAwMDIuNjItLjQyNSA1LjU4OSA1LjU4OSAwIDAwMS45NjUtMS4yMTUgNS4zMjQgNS4zMjQgMCAwMDEuMjU3LTEuOTMzIDYuOTA3IDYuOTA3IDAgMDAuNDU4LTIuNTU2IDcuNzg1IDcuNzg1IDAgMDAtLjM4LTIuNDk0IDUuNDkgNS40OSAwIDAwLTEuMDkzLTEuOTQ2IDQuOTk2IDQuOTk2IDAgMDAtMS43ODEtMS4yNDcgNi4wNDggNi4wNDggMCAwMC0yLjQxLS40NTUgNi4yODcgNi4yODcgMCAwMC0xLjkzMi4yOGMtLjQzMy4xMjctLjg1LjI5OS0xLjI0NS41MTJWLjY3MWgtMi4yMDd6bS02NC40ODguNjg3YTEuNTEgMS41MSAwIDAwLTEuMDI4LjM3NGMtLjI4OC4yNTYtLjQ0LjYyMy0uNDEzLjk5Ny0uMDI0LjM4LjEyNy43NTEuNDEzIDEuMDE3YTEuNjczIDEuNjczIDAgMDAyLjA2MyAwYy4yODctLjI2My40NDItLjYzMS40MjYtMS4wMWExLjI1NCAxLjI1NCAwIDAwLS40MzMtMS4wMDQgMS41MTggMS41MTggMCAwMC0xLjAyOC0uMzc0em0tOS4wNyA0LjU4MmE1LjU3MyA1LjU3MyAwIDAwLTMuMzczLjkwNGMtLjgxMi41OS0xLjI3IDEuNTIzLTEuMjI0IDIuNDk0YTIuNjQ4IDIuNjQ4IDAgMDAxLjA2NyAyLjI2NGMuMzQ5LjI2OC43MzQuNDg4IDEuMTQ2LjY1NC40NDUuMTg3LjkwNC4zOCAxLjM5NS41NjEuNzYuMjYgMS40ODQuNiAyLjE2MSAxLjAxNy40MjQuMjcuNjcxLjczLjY1NSAxLjIxNS4wMy40NS0uMjMuODc1LS42NTUgMS4wNzNhNC42OTIgNC42OTIgMCAwMS0yLjA0My4zNDMgNy42MjQgNy42MjQgMCAwMS0yLjI2LS4yNjhsLTEuMTkxLS4zODd2MS45MzNjLjIyMi4wNzUuNDkuMTU2LjgzMS4yNS44NTguMTkzIDEuNzQuMjc2IDIuNjIuMjQ5YTYuODE3IDYuODE3IDAgMDAzLjY4Ny0uODIzYy44NzItLjU0OCAxLjM3My0xLjUwMSAxLjMxLTIuNDk0YTMuMjk0IDMuMjk0IDAgMDAtLjI2Mi0xLjQwMyAyLjcyMyAyLjcyMyAwIDAwLS43NTMtLjk3OSA1LjEyNCA1LjEyNCAwIDAwLTEuMjY0LS43MWMtLjQ3Mi0uMi0uOTktLjQxMi0xLjU4NS0uNjI0LS40NTItLjE1LS44MzgtLjI4Ny0xLjE2Ni0uNDI0YTQuMDMgNC4wMyAwIDAxLS44MTgtLjQzNyAxLjU2MiAxLjU2MiAwIDAxLS40NzItLjUzIDEuNDIgMS40MiAwIDAxLS4xNjQtLjY4NSAxLjE0NCAxLjE0NCAwIDAxLjcwMS0xLjA5MiAzLjY3IDMuNjcgMCAwMTEuNjUtLjM0MiA3LjY4NyA3LjY4NyAwIDAxMS44NDcuMTg3Yy4zOS4wODcuNzcuMjEyIDEuMTMzLjM3NFY2LjMyNmwtLjA3OC0uMDQ0YTguNjg1IDguNjg1IDAgMDAtLjgxOS0uMTY4Yy0uMzA4LS4wNS0uNjU1LS4xMDYtLjk4Mi0uMTQ0YTEwLjU2NyAxMC41NjcgMCAwMC0xLjA2MS0uMDQzbC0uMDMzLjAxMnptNjMuOTgzIDBhMTMuNjkgMTMuNjkgMCAwMC0yLjIwNy4xNjljLS4zOTIuMDYzLS43OC4xNTItMS4xNi4yNjh2MS44MDhjLjQtLjEzNC44MTMtLjIzMSAxLjIzMi0uMjkzYTExLjMzMiAxMS4zMzIgMCAwMTEuOTY1LS4xNTZjLjQ4Ni0uMDEzLjk3LjA3MiAxLjQyLjI1LjMzNS4xMzYuNjI3LjM1Ljg1Mi42MjNhMi4zIDIuMyAwIDAxLjQzOS45MDRjLjA3OC4zMzguMTE4LjY4My4xMTggMS4wMjl2LjU5MmMtLjA2NiAwLS4xODQtLjA1LS4zNDctLjA3NWwtLjU1Ny0uMDkzYTEwLjEgMTAuMSAwIDAwLS42ODgtLjA5NGMtLjI0Mi0uMDI1LS40NzggMC0uNyAwYTkuODk5IDkuODk5IDAgMDAtMi4wNDQuMjA2IDUuMzkgNS4zOSAwIDAwLTEuNjgzLjYyM2MtLjQ3Ni4yOC0uODcuNjctMS4xNDYgMS4xMzVhMy4xNCAzLjE0IDAgMDAtLjQyNSAxLjY3MSAzLjc3NyAzLjc3NyAwIDAwLjM2IDEuNzI3Yy4yMjUuNDY4LjU3NS44NzIgMS4wMTUgMS4xNzJhNC41NSA0LjU1IDAgMDAxLjU1OC42MjQgOC44NSA4Ljg1IDAgMDAxLjk2NS4yMDVjLjQ5OCAwIC45OTYgMCAxLjUwNi0uMDYyLjUxMS0uMDYyLjk3LS4wOCAxLjQwOC0uMTI1LjQ0LS4wNDMuODMyLS4wODcgMS4xOC0uMTQzbC44MTgtLjEyNXYtNy4zNWE2LjQ4NCA2LjQ4NCAwIDAwLS4yNDItMS44MjdjLS4zMjItMS4wOTktMS4yMDQtMS45NzItMi4zNDUtMi4zMmE3LjAyMiA3LjAyMiAwIDAwLTIuMjkyLS4zMjR2LS4wMTl6bTI4LjY4NCAwYTUuNTIxIDUuNTIxIDAgMDAtMy4zMjcuOTA0Yy0uODE4LjU4Ny0xLjI4MyAxLjUyLTEuMjQ0IDIuNDk0YTIuNzUgMi43NSAwIDAwMS4wNiAyLjI2NGMuMzU1LjI2Ny43NDQuNDg3IDEuMTYuNjU0LjQ0NS4xODcuOTEuMzggMS4zOTUuNTYxLjc1NS4yNTggMS40NzYuNiAyLjE0OCAxLjAxN2ExLjQgMS40IDAgMDEuNjU1IDEuMjE1Yy4wMjguNDUtLjIzMS44NzMtLjY1NSAxLjA3M2E0LjcwMSA0LjcwMSAwIDAxLTIuMDQzLjM0MyA3LjY0NSA3LjY0NSAwIDAxLTIuMjYtLjI2OCAzMS4wMSAzMS4wMSAwIDAxLTEuMjExLS40MDZ2MS45NTJjLjIyMy4wNjguNTA0LjE1Ni44NTEuMjVhMTAuNDggMTAuNDggMCAwMDIuNjIuMjQ5IDYuODE3IDYuODE3IDAgMDAzLjY4Ny0uODIzYy44Ny0uNTQ5IDEuMzcxLTEuNTAxIDEuMzEtMi40OTRhMy4zMzQgMy4zMzQgMCAwMC0uMjYyLTEuNDAzIDIuNzg5IDIuNzg5IDAgMDAtLjc3My0uOTc5IDUuMDE1IDUuMDE1IDAgMDAtMS4xOTItLjcxN2MtLjQ2NS0uMi0uOTg5LS40MTEtMS41OTEtLjYyMy0uNDUyLS4xNS0uODM5LS4yODctMS4xNi0uNDI0YTMuOTUzIDMuOTUzIDAgMDEtLjgxOC0uNDM3Yy0uMi0uMTM5LS4zNjQtLjMyLS40NzgtLjUzYTEuNDQ1IDEuNDQ1IDAgMDEtLjE2NC0uNjg2IDEuMTUgMS4xNSAwIDAxLjcwNy0xLjA5IDMuNTk3IDMuNTk3IDAgMDExLjYzOC0uMzQ0IDcuODUyIDcuODUyIDAgMDExLjg2Ni4xODcgNi4xMSA2LjExIDAgMDExLjExMy4zNTZWNi4zMzJsLS4wOTgtLjAzMWE4LjY4NSA4LjY4NSAwIDAwLS44MTktLjE2OGMtLjMwNy0uMDUtLjY1NC0uMTA2LTEuMDAyLS4xNDRhMTAuNTY3IDEwLjU2NyAwIDAwLTEuMDYtLjA0M2wtLjA1My0uMDA3em0tNzMuMzQ4LjA0NGMtLjcxMy4wMi0xLjQyNC4wODctMi4xMjguMmEzNC4zMyAzNC4zMyAwIDAwLTIuMDUuMzc0VjE3Ljk2aDIuMjI3di05LjljLjA2NSAwIC4xOTYtLjA1LjM5My0uMDc2bC42NTUtLjA3NGMuMjM1IDAgLjQ3OCAwIC43NC0uMDQ0cy40OS0uMDMxLjcyLS4wMzFjLjQ1LS4wMTIuODk2LjA2OCAxLjMxLjIzNy4zNC4xNTEuNjI2LjM5Ni44MTguNzA0LjIyMi4zODcuMzY2LjgxLjQyNiAxLjI0N2ExMC45IDEwLjkgMCAwMS4xMzEgMS43Nzd2Ni4xNDFoMi4yNDZ2LTYuNTc3YzAtLjQ5LS4wMzItLjk4LS4wOTgtMS40NjZhNy40NCA3LjQ0IDAgMDAtLjI5NS0xLjI0N2MuMzA5LS4yMi42NTEtLjM5NSAxLjAxNS0uNTE3YTUuMjc2IDUuMjc2IDAgMDExLjg2Ny0uMjggMy4zNiAzLjM2IDAgMDExLjM1NS4yMzZjLjM0LjE0Ni42MjUuMzg1LjgyLjY4Ni4yMi4zODcuMzYuODEuNDEyIDEuMjQ3LjA4Mi41OS4xMjEgMS4xODMuMTE4IDEuNzc3djYuMTQxaDIuMjQ2di02LjU3N2MuMDA1LS43MjEtLjA1Ni0xLjQ0LS4xODQtMi4xNTFhNC4xNDYgNC4xNDYgMCAwMC0uNzEzLTEuNjg0IDMuMzcyIDMuMzcyIDAgMDAtMS40NDEtMS4xMjIgNi4wODggNi4wODggMCAwMC0yLjM3LS4zOTMgNi4zMTggNi4zMTggMCAwMC0xLjQwOS4xNDQgMTAgMTAgMCAwMC0xLjE3OS4zNDIgNi4zMjYgNi4zMjYgMCAwMC0xLjQyLjcwNSAzLjYyNiAzLjYyNiAwIDAwLTEuMzk2LS45MjMgNS44NjMgNS44NjMgMCAwMC0yLjAzLS4zaC0uNzk5LjAxM3ptMjEuNjk3IDBjLS42NzUuMDItMS4zNDcuMDg3LTIuMDEuMmE0Ny4zNyA0Ny4zNyAwIDAwLTEuOTk4LjQwNXYxNS41NWgyLjI2di00LjY5NWMuMzkzLjIxMy44MS4zODUgMS4yNDQuNTEuNjIuMTkgMS4yNjcuMjggMS45MTguMjY5YTYuMTQ4IDYuMTQ4IDAgMDAyLjQyMy0uNDU1QTQuOTU2IDQuOTU2IDAgMDA4Ny4xIDE2LjUyYTUuNDU5IDUuNDU5IDAgMDAxLjExMy0xLjkzM2MuMjU2LS44MDkuMzc3LTEuNjUuMzYtMi40OTRhNi45NDQgNi45NDQgMCAwMC0uNDQ1LTIuNTU2Yy0uNTMzLTEuNDY3LTEuNzM5LTIuNjI3LTMuMjc1LTMuMTQ5YTcuNDE2IDcuNDE2IDAgMDAtMi42Mi0uNDI0aC0uNzcybC4wMzMuMDE5em0tMzMuMDQuMjV2MTEuNzJoMi4yNlY2LjI0bC0yLjI2LS4wMDd6bTcwLjcyOSAxLjU3N2EzLjgzOCAzLjgzOCAwIDAxMS42NS4zMjQgMy4wMyAzLjAzIDAgMDExLjEyNy45MWMuMzEuNDA1LjUzNC44NjUuNjU0IDEuMzUzLjEzLjU1OS4xOTEgMS4xMy4xODQgMS43MDJhNC4zMzMgNC4zMzMgMCAwMS0xLjA4IDMuMTYxIDMuOSAzLjkgMCAwMS0yLjkxNSAxLjEyM2MtLjUwOC4wMDUtMS4wMTUtLjAyLTEuNTItLjA3NWE3Ljk1OCA3Ljk1OCAwIDAxLS45NjktLjE3NXYtNy40MmE0LjgwNiA0LjgwNiAwIDAxMS4xOTItLjYyMyA0LjcyIDQuNzIgMCAwMTEuNjktLjI5M2wtLjAxMy4wMTN6bS0zNi45NTYuMDQzYTMuOTIgMy45MiAwIDAxMi45MTUgMS4xMDQgNC4yOCA0LjI4IDAgMDExLjA4IDMuMTE3IDcuMDQ2IDcuMDQ2IDAgMDEtLjE5NiAxLjY4NCAzLjY5NiAzLjY5NiAwIDAxLS42NTUgMS4zNTMgMi45NzEgMi45NzEgMCAwMS0xLjEyNy45MDQgMy44MTIgMy44MTIgMCAwMS0xLjY1Ny4zMyA1LjA4NyA1LjA4NyAwIDAxLTIuODgxLS45MDRWOC4wNzhhNi4zMyA2LjMzIDAgMDEuODk3LS4xNTZjLjUyOS0uMDUgMS4wNi0uMDcxIDEuNTkyLS4wNjJsLjAzMi0uMDA3em0yMi43NyA0LjY2NGMuNDM5LS4wMDQuODc3LjAyMyAxLjMxLjA4MS4yNzEuMDMuNTM2LjA5Ny43ODcuMnYzLjQ5MWE2LjcxIDYuNzEgMCAwMS0xLjAyOS4xMjVoLTEuNDA4YTQuMzAyIDQuMzAyIDAgMDEtMi4xMDgtLjQzNyAxLjY1IDEuNjUgMCAwMS0uNzczLTEuNTdjLS4wMi0uMzUzLjA4OC0uNzAyLjMwOC0uOTg2LjIxMi0uMjQ2LjQ4MS0uNDQyLjc4NS0uNTczYTMuNTcgMy41NyAwIDAxMS4wNDgtLjI4MWMuMzYtLjAzNi43Mi0uMDUyIDEuMDgtLjA1eiIgY2xhc3M9IkhlYWRlcl9mZjBhMF9fbG9nby10eXBlIi8+CiAgICA8ZyBmaWxsPSIjMDA3REY2IiBjbGFzcz0iSGVhZGVyX2ZmMGEwX19sb2dvLWltYWdlIj4KICAgICAgPHBhdGggZD0iTTEzLjEwOSAxMy40MTd2OS4zOTFjMy4yOS0uMyA2LjMtMS45NCA4LjI3OS00LjUxMmwtOC4yOC00Ljg4eiIvPgogICAgICA8cGF0aCBmaWxsLXJ1bGU9Im5vbnplcm8iIGQ9Ik0yMi45MDcgMTYuNDQzYTEwLjg4IDEwLjg4IDAgMDAxLjI0LTUuMDE3QzI0LjE2IDUuNTMgMTkuMzc4LjU0IDEzLjIgMHYxMC44NDNsOS43MDggNS42ek0xLjIxNCA2LjQ0MUExMC44NzMgMTAuODczIDAgMDAwIDExLjQxNGMuMDA0IDUuODggNC43NzQgMTAuODUgMTAuOTM1IDExLjM5NFYxMi4wNmwtOS43Mi01LjYyeiIvPgogICAgICA8cGF0aCBkPSJNMTEuMDM5IDkuMzkyVjBjLTMuMjk4LjMwMi02LjMxIDEuOTUtOC4yOCA0LjUyNmw4LjI4IDQuODY2eiIvPgogICAgPC9nPgogIDwvZz4KPC9zdmc+");
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 200px; }
