<div class="reveal">
	<div class="slides">
    {{#each @slides as |slide|}}
      <section data-markdown data-transition="none">
        <textarea data-template>
{{slide.content}}

{{#if slide.notes}}
Note:
{{slide.notes}}
{{/if}}
        </textarea>
      </section>
    {{/each}}
	</div>
</div>


<script>
  if(typeof FastBoot === 'undefined') {
    Reveal.initialize({
      width: "1280",
			height: "720",
			margin: 0.1,
			center: false,
      hash: true,
      dependencies: [
					{ src: '/plugin/markdown/marked.js' },
					{ src: '/plugin/markdown/markdown.js' },
					{ src: '/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: '/plugin/notes/notes.js', async: true }
				]
    });
  }
</script>